[submodule "Awesome/layout-machi"]
	path = Awesome/layout-machi
	url = https://github.com/xinhaoyuan/layout-machi
[submodule "Awesome/freedesktop"]
	path = Awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
